<% provide(:title, 'Contact') %>
      <h1>Contact</h1>
    <p>
      The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      folks are the ones to contact about the structure of this site.    </p>
